<%= form_for @word, :html => {:multipart => true} do |f| %>
  <% if @word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@word.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
      <% @word.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :term %><br>
    <%= f.text_field :term %>
  </div>
  <div class="field">
    <%= f.label :pronunciation %><br>
    <%= f.text_field :pronunciation %>
  </div>
<!-- adding sound for pronunciation -->
  <div>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :origin %><br>
    <%= f.text_field :origin %>
  </div>

  <!-- for image and file fields -->
 

   <div>
    <%= f.label :audio %>
    <%= f.file_field :audio %>
  </div><br>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
