<h1>Editing word</h1>

<%= image_tag @word.image.url(:thumb), :alt => "" %>

<%= render 'form' %>

<div>
		<% @word.meanings.each do |meaning|%>
			<%= meaning.meaning_number %>
			er
			<%= meaning.definition %>
			<% end %>
	</div>


<div >
	<h1>meaning</h1>
	<%= render "meanings/form" %>
</div>

<%= link_to 'Show', @word %> |
<%= link_to 'Back', words_path %>
